@font-face {
    font-family: "Codec Pro";
    src: url("../assets/fonts/CodecPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.ContainerBrowser {
    padding-top: 20%;
}

.title {
    font-family: "Codec Pro", serif;
    font-size: 20px;
}

.FormBrowser {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    margin: 0 auto;
}

.FormBrowser input {
    padding: 0.5rem;
    border: 2px solid #5387a3;
}

.ButtonBrowser {
    padding: 0.5rem;
    border: 2px solid #5387a3;
    background-color: transparent;
    color: #333;
}

.ButtonBrowser:hover {
    background-color: #336793;
    color: white;
    cursor: pointer;
}
