.home-page {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d6e2ef;
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: "Codec Pro";
    src: url("../assets/fonts/CodecPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Migra";
    src: url("../assets/fonts/MigraItalic-ExtraboldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.home-page-col-1 {
    display: grid;
    place-items: center;
}

.home-page-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    background-image: url(../assets/images/homePage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    color: #336793;
    font-size: 85px;
    text-align: center;
    font-family: "Codec Pro", serif;
}

.sub-welcome {
    color: #202020;
    font-size: 45px;
    text-align: center;
    font-family: "Codec Pro", serif;
}

.logout-button {
    position: fixed;
    top: 50px;
    right: 50px;
    margin-top: 0;
    background-color: transparent;
    color: #336793;
    border: 2px solid #336793;
    font-size: 20px;
    padding: 1em;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Migra", sans-serif;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #336793;
    color: white;
    transform: scale(1.05);
}

.logout-button:focus {
    box-shadow: 0 0 5px rgba(6, 7, 8, 0.5);
}
