@font-face {
    font-family: "Codec Pro";
    src: url("../assets/fonts/CodecPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.login-container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #d6e2ef;
}

.login-div {
    display: grid;
    place-items: center;
    background-color: #ffffff;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    border: 2px solid #5387a3;
    border-radius: 15%;
    height: 90%;
    width: 45%;
}

.login-form {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
}

.login-form label {
    padding-top: 15%;
    font-size: 100%;
    color: #336793;
    font-family: "Codec Pro", serif;
}

.login-form input {
    display: grid;
    place-items: center;
    padding: 1rem;
    padding-inline: 50%;
    border: 2px solid #5387a3;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.login-form input:hover {
    background-color: #3368933b;
}
