.Container1{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d6e2ef;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Codec Pro';       /* Nombre de la fuente que usarás en CSS */
    src: url('../fonts/codec-pro/CodecPro-Regular.ttf') format('truetype'); /* Ruta al archivo */
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Migra';       /* Nombre de la fuente que usarás en CSS */
    src: url('../fonts/Migra/MigraItalic-ExtraboldItalic.ttf') format('truetype'); /* Ruta al archivo */
    font-weight: normal;
    font-style: normal;
  }
.Column_1{
    display: grid;
    place-items: center;
}
.columna2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    background-image: url(../photos/imgColumna1_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.welcome{
    color: #336793;
    font-size: 85px;
    text-align: center;
    font-family: 'Codec Pro';
}

.subWelcome{
    color: #202020;
    font-size: 45px;
    text-align: center;
    font-family: 'Codec Pro';
}