.Container1{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #d6e2ef;
    height: 100%;
    width: 100%;
}
@font-face {
    font-family: 'Codec Pro';
    src: url('../fonts/codec-pro/CodecPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra/MigraItalic-ExtraboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.Columna1_1{
    display: grid;
    place-items: center;
}
.Columna1_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    background-image: url(../photos/imgColumna1_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.welcome{
    color: #336793;
    font-size: 85px;
    text-align: center;
    font-family: 'Codec Pro';
}

.subWelcome{
    color: #202020;
    font-size: 45px;
    text-align: center;
    font-family: 'Codec Pro';
}
.ButtonOne{
    background-color: transparent;
    color: #333;
    border: 2px solid #336793;
    font-size: 20px;
    font-family: Migra;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 10px;
}
.ButtonOne:hover{
    background-color: #336793;
    color: white;
}
